@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: palegoldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 60px;
  position: absolute;
  left: 20px;
}

.navbar * {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 5px;
}

.footer {
  position: relative;
  /* position: absolute; change it to this if you want it to stick to the bottom of the webscreen at all times */
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}
