@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Faustina", serif;
}

body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Faustina", serif;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 3;
  padding-left: 2%;
}

.header > h1 {
  font-size: 1.2rem;
}

.header-dept-name {
  font-size: 1.2rem;
  position: absolute;
  right: 3%;
  color: #e4002b;
  font-weight: 900;
}

.logo {
  height: 55px;
  /* position: absolute;
  left: 20px; */
  padding-right: 20px;
  padding-left: 10px;
}

.navbar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 1%;
}

.navbar * {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar-link * {
  text-decoration: none;
  color: #e4002b;
  margin: 2px;
  padding: 5px 10px;
  font-size: 0.9rem;
}

.navbar-link *:hover {
  background-color: #e4002b;
  color: whitesmoke;
}

.main-page {
  background-image: url("https://media.cntraveler.com/photos/5a84572586e4b63c297d47fd/16:9/w_1920,c_limit/The-Met_2018_GettyImages-541359628.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  object-fit: cover;
  height: 75vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.write-up > h1 {
  color: #fafafa;
  padding-bottom: 25px;
}

.write-up > p {
  font-size: 1.3rem;
  color: #fafafa;
}

.write-up {
  background-color: rgba(228, 0, 43, 0.75);
  padding: 30px;
}

.department-page {
  height: fit-content;
  flex: 1;
}

.artwork {
  margin: 10px;
}

.artwork-display {
  width: 300px;
  height: 300px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.artwork-display > p {
  padding: 10px 5px 0 5px;
  text-align: center;
  font-size: 0.9rem;
  /* background-color: pink; */
}

.artwork-display-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding: 0;
  /* background-color: bisque; */
}

.artwork-information {
  width: 300px;
  height: 300px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.inner-artwork-info {
  max-width: 300px;
  max-height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: beige; */
}

.inner-artwork-info > p {
  color: red;
  text-align: justify;
}

.artwork-display:hover {
  display: none;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

.overlay-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay-details {
  position: fixed;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  z-index: 100;
  background-color: #e4002b;
  color: #fafafa;
  display: flex;
}

.img-column {
  width: 50%;
  padding-left: 2%;
}

.detail-column {
  width: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
}

.detail-column > p {
  text-align: right;
}

.detail-column > p > span {
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 900;
}

.detail-column-button {
  border: 1px solid #fafafa;
  border-radius: 5px;
  color: #fafafa;
  background-color: #e4002b;
  width: 75px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.detail-column-button:hover {
  background-color: #fafafa;
  color: #e4002b;
}

.overlay-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.department-art-display {
  padding: 10px 0;
  background-color: #e4002b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  position: relative; /* (relative) this will let it stick to the bottom of the webscreen at all times */
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
