@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: palegoldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 60px;
  position: absolute;
  left: 20px;
}

.navbar * {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 5px;
}

.artwork {
  margin: 10px;
}

.artwork-display {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.artwork-display-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.artwork-information {
  width: 300px;
  height: 300px;
  background-color: palevioletred;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.artwork-display:hover {
  display: none;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

.overlay-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay-details {
  position: fixed;
  width: 60%;
  height: 70%;
  top: 15%;
  left: 20%;
  z-index: 100;
  background-color: lightslategray;
  display: flex;
}

.img-column {
  width: 50%;
}

.detail-column {
  width: 50%;
  padding: 10px;
}

.overlay-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.department-page {
  background-color: pink;
}

.department-art-display {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer {
  position: sticky; /* (absolute) this will let it stick to the bottom of the webscreen at all times */
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
